# Abdus Samad_Assignment2

In [6]:
#Part-1
S1 = ["Ahmad","Ayesha","Ali", "Abeer"]
S2 = ["Bareera", "Bano","Bilal", "Abeer"]
print(S1)
S1.insert(4,"Arzo")
print(S1)
L3 = S1 + S2
print(L3)

['Ahmad', 'Ayesha', 'Ali', 'Abeer']
['Ahmad', 'Ayesha', 'Ali', 'Abeer', 'Arzo']
['Ahmad', 'Ayesha', 'Ali', 'Abeer', 'Arzo', 'Bareera', 'Bano', 'Bilal', 'Abeer']

In [15]:
#Part-2
S1 = {"Ahmad","Ayesha","Ali", "Abeer"}
S2 = {"Bareera", "Bano","Bilal", "Abeer"}
print([S2, S1])
students = {"Ahmad","Ayesha","Ali", "Abeer","Bareera", "Bano","Bilal", "Abeer"}
S3 = students
print (S3)
print(L3)
#We know that in set repeat values are not allowed. That's why we have one Abeer although he is in Python and SQL class but when we mixed both sets then Abeer get eliminated and we left one Abeer in the set. Name are organized as first are female names and then male.Set does it automatically without our command.
#List is just collection of objects. In list you can have as many repetive values as you can. We can see Abeer name twice as he is both classes and names cannot be organized byy itself and it depend on us how we organized these names iin list.

[{'Bano', 'Bareera', 'Abeer', 'Bilal'}, {'Ayesha', 'Abeer', 'Ali', 'Ahmad'}]
{'Bano', 'Bareera', 'Ayesha', 'Ali', 'Ahmad', 'Abeer', 'Bilal'}
['Ahmad', 'Ayesha', 'Ali', 'Abeer', 'Arzo', 'Bareera', 'Bano', 'Bilal', 'Abeer']

In [17]:
#Part_3
D1 = {22020880:"Ahmad", 22020660:"Ayesha", 22020450:"Ali", 22020110:"Abeer", 22020290:"Arzo", 22020550:"Bareera", 22020350:"Bano", 22020890:"Bilal", 22020770:"Abeer"}
D1.keys()

dict_items([(22020880, 'Ahmad'), (22020660, 'Ayesha'), (22020450, 'Ali'), (22020110, 'Abeer'), (22020290, 'Arzo'), (22020550, 'Bareera'), (22020350, 'Bano'), (22020890, 'Bilal'), (22020770, 'Abeer')])