In [ ]:
print("\"Ab \n dus\"")

"Ab
 dus"

you should backslash for printing your ouptput in inverted commas

In [ ]:
print("Hello World")

Hello World

In [ ]:
Data_Analyst = "\"Abdus Samad\""

for creating variable. while = is just assignment operator it has no mathematical value of equal.

In [ ]:
print(Data_Analyst)
type(Data_Analyst)

"Abdus Samad"

str

In [ ]:
age = 21
print(age)
print(type(age))
length = 6.7
print(type(length))
comp = 5 + 2j
print(type(comp))

21
<class 'int'>
<class 'float'>
<class 'complex'>

# **Numeric Types**

 **1- Integers** -- numbers without decimals
like age = 20

**2- Float** --- number with decimals
like length = 5.20
age = 20.0 these are all floating data

**3- Complex** -- imaginary number
comp = 5 + 2j "j is iota notation in python

In [ ]:
#Arthematic ops
num1 = 2
num2 = 8
print(num1 + num2)
print(num1 - num2)
print(num1*num2)
print(num1 / num2)
print(num1**num2)

10
-6
16
0.25
256

In [ ]:
#Boolean

# Boolean

True -> 1
False -> 0

In [ ]:
name1 = input("please enter your name: ")

please enter your name: 786

In [ ]:
name1= int(input("please ener your age: "))

please ener your age: 8890

this function wil take only integers and not take string

In [ ]:
print(name1)

8890

In [ ]:
#convergence precedence
int(20.2)
str(20.2)
float(20)
str("Twenty")

'Twenty'

here numeric to string is possible but string to numeric isn't like int("twenty) this will give us error.

In [ ]:
#Strings
name = "Abdus Samad"
print(name)
#Indexes, how to find index of any data
print(name[0])
#how to call particular words from name
print(name[0]+name[1]+name[2]+name[3]+name[4])
#alternate way that is slicing:
print(name[0:5])
#Concatenation
print("Hello " + "World")
print("5" + "1") #it is adding it as string case not numeric
len(name)
#max index = length of sequence -1
print(len(name)-1)

Abdus Samad
A
Abdus
Abdus
Hello World
51
10

In [ ]:
#List
li = ["Abdus Samad", 22, "Data Science", 5,"Babar"]
print(li[1])
print(li[2:5])
len(li)

22
['Data Science', 5, 'Babar']

5

In [ ]:
#Mutable
#add value in a list by indicating index and value that you want to add
li.insert(1, "LUMS")
print(li)

['Abdus Samad', 'LUMS', 22, 'Data Science', 5, 'Babar']

In [ ]:
#to remove the value, it will remove the value you want to
li.remove(5)
print(li)

['Abdus Samad', 'LUMS', 22, 'Data Science', 'Babar']

In [ ]:
#add value at the end, use append
li.append(56)
print(li)

['Abdus Samad', 'LUMS', 22, 'Data Science', 'Babar', 56]

In [ ]:
#Tuple is nonmutable(cannot remove or add anything)
tup = (12, 13, "ABC", 23, 24, "DFG")
type(li)
print(tup.count(13)) #it"ll tell number of times specific value appear inn tuple
tup.index(23)

1

3

In [ ]:
print((1,2) + (3,4)) #concatenation is possible un tuple

(1, 2, 3, 4)

# Sequences

**1- Strings** 
name = Numan Ahmad
index, slicing, concatenation
In string, you have to add up, you can do that by adding that.
**List**
**Tuple**

In [ ]:
##Sets
s = {12, 13, "ABC", 12}
type(s) #pupose of set is not repaet the data.
print(s) # we get only one value of 12 not two.
s.add(14)
print(s) # index isn't exist in set
s.remove(12)
print(s)

{'ABC', 12, 13}
{'ABC', 12, 13, 14}
{'ABC', 13, 14}

In [ ]:
#Dictionary
#we store values in pairs unlike list, tuples & set
#key : Value
Di = {22020557: "Abdus", 22020480:"Fazeel"}
print(Di)
Di_1 = {22020557: "Abdus", 22020480:"Fazeel", 22020480:"Ahmad"}
print(Di) #Key will not repeat
Di[22020320] = "Ansha"
print(Di)
Di.pop(22020480)
Di.keys()
Di.values()
Di.items()

{22020557: 'Abdus', 22020480: 'Fazeel'}
{22020557: 'Abdus', 22020480: 'Fazeel'}
{22020557: 'Abdus', 22020480: 'Fazeel', 22020320: 'Ansha'}

dict_items([(22020557, 'Abdus'), (22020320, 'Ansha')])

In [ ]:
aList = ["PYnative", [4, 8, 12, 16]]
print(aList[0][1]) 
print(aList[1][3])  
list1 = ['xyz', 'zara', 'PYnative']
print (max(list1))

Y
16
zara